{% extends "base.html" %}
{% block content %}
    <div class="row">
        {% for post in object_list %}
            <div class="col-8">
                <h2 class="post__title">
                    <a href="post/{{ post.id }}">{{ post.title }}</a>
                </h2>
                <p class="post__body">
                    {{ post.body | slice:":100"}}...
                </p>
                <h5 class="post__author">{{ post.author }}</h5>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
