{% extends "base.html" %}
{% block title %} Infomir django blog {% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                {% if object.photo %}
                    <img src="{{ article.photo.url }}" class="card-img-top" alt="{{ article.title }}">
                {% endif %}
                <h5>{{ article.author }} || {{ article.date }}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.body | safe }}</p>
                </div>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    {% if user.is_authenticated and article.author == user %}
                        <a href="{% url 'article_edit' article.pk %}" class="btn btn-warning ms-2">Tahrirlash</a>
                        <a href="{% url 'article_delete' article.pk %}" class="btn btn-danger ms-2">O'chirish</a>
                    {% endif %}
                    <a href="{% url 'blog' %}" class="btn btn-info ms-2">Barcha maqolalar</a>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}