{% extends "base.html" %}
{% block title %} Infomir django blog {% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        {% for article in object_list %}
            <div class="col-8">
                <div class="card">
                    {% if article.photo %}
                        <img src="{{ article.photo.url }}" class="card-img-top" alt="{{ article.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.summary }}</p>
                        <a href="{% url 'article' article.pk %}" class="btn btn-primary">Read more...</a>
                        <h5 class="post__author">{{ article.author }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
