<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mening test loyiham django framework !</title>
</head>
<body>
<header>
    <ul>
        <li>
            <a href="{% url "home" %}">Bosh sahifa</a>
        </li>
        <li>
            <a href="{% url "about" %}">Biz haqimizda</a>
        </li>
        <li>
            <a href="{% url "contacts" %}">Qayta aloqa</a>
        </li>
    </ul>
</header>
<main>
    {% block content %}
    {% endblock content %}
</main>
<footer>
    <div class="footer__box">
        <a href="{% url "about" %}" class="author-box">Muallif haqida</a>
    </div>
</footer>
</body>
</html>