{% extends "base.html" %}
{% load crispy_forms_filters %}
{#{% load crispy_forms_tags %}#}
{% block title %} Saytga kirish {% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h2 class="post__title">
                Tizimga kirish
            </h2>
            <form action="" method="post">
                {% csrf_token %}
{#                {{ form.as_p }}#}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success" value="Kirish">
            </form>
        </div>
    </div>
{% endblock content %}