{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %} Parolni o'zgartirish sahifasi {% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h2 class="reset__title">
                Parolni o'zgartirish
            </h2>
            <p class="reset__p">
                Parolni o'zgartirish uchun avvalgi parolni kiriting, so'ngra ikki marta yangi parolni kiriting !
            </p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="O'zgartirish">
            </form>
        </div>
    </div>
{% endblock content %}