{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %} Parolni tiklash sahifasi {% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h2 class="reset__title">
                Parolni tiklash sahifasi
            </h2>
            <p class="reset__p">
                Parolni tiklash uchun yangi parolni kiriting !
            </p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Saqlash">
            </form>
        </div>
    </div>
{% endblock content %}